* {
    margin: 0;
    padding: 0;
}

/*Background and Containers*/
#container {
    height: 100vh;
    background-image: url('../images/chess-curves-cropped.webp');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#background-box {
    height: 37vw;
    width: 37vw;
    background-color: #181717;
    margin-left: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-container {
    height: 35vw;
    width: 35vw;
}

/*Heading*/
.header-text {
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.8vw;
}

.financial-text {
    font-weight: 400;
}

.analysis-text {
    font-weight: 700;
    color: #BF9000;
}

/*Financial Analysis Content*/
.text-container {
    display: flex;
    justify-content: center;
    margin-top: 2.5vw;
}

.main-text {
    margin: auto;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items {
    display: flex;
    align-items: center;
    justify-content: left;
}

.headings {
    font-size: 1.5vw;
    color: #BF9000;
    width: 13vw;
}

.values {
    font-size: 1.8vw;
    color: white;
    margin-left: 1.5vw; 
}